# SPDX-FileCopyrightText: 2025 Deutsche Telekom IT GmbH
#
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - approval.cp.ei.telekom.de
  resources:
  - approvalrequests
  - approvals
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - approval.cp.ei.telekom.de
  resources:
  - approvalrequests/finalizers
  - approvals/finalizers
  verbs:
  - update
- apiGroups:
  - approval.cp.ei.telekom.de
  resources:
  - approvalrequests/status
  - approvals/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - notification.cp.ei.telekom.de
  resources:
  - notificationchannels
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - notification.cp.ei.telekom.de
  resources:
  - notifications
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
