# Copyright 2025 Deutsche Telekom IT GmbH
#
# SPDX-License-Identifier: Apache-2.0

version: 2

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: "monthly"
  - package-ecosystem: "gomod"
    schedule:
      interval: "monthly"
    directories:
      - admin
      - admin/api
      - api
      - api/api
      - application
      - application/api
      - approval
      - approval/api
      - common
      - common-server
      - cpapi/api
      - file-manager
      - gateway
      - gateway/api
      - identity
      - identity/api
      - organization
      - organization/api
      - rover
      - rover/api
      - rover-ctl
      - rover-server
      - secret-manager
      - tools/route-tester
      - tools/snapshotter
      - notification
      - notification/api
    groups:
      minor-patch:
        update-types:
          - patch
          - minor