# Copyright 2025 Deutsche Telekom IT GmbH
#
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Service
metadata:
  name: file-manager
  namespace: system
  labels:
    app.kubernetes.io/name: file-manager
spec:
  ports:
    - name: https
      port: 443
      targetPort: 8443
  selector:
    app.kubernetes.io/name: file-manager
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: file-manager
  namespace: system
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: file-manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        app.kubernetes.io/name: file-manager
    spec:
      securityContext:
        fsGroup: 65534
        runAsGroup: 65534
        runAsNonRoot: true
        runAsUser: 65534
      containers:
        - name: manager
          args:
            - --address
            - :8443
            - --configfile
            - /etc/file-manager/config.yaml
          image: ghcr.io/telekom/controlplane/file-manager:stable
          env: []
          envFrom:
            - configMapRef:
                name: file-manager-env
          ports:
            - name: https
              containerPort: 8443
              protocol: TCP
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - "ALL"
          livenessProbe:
            httpGet:
              scheme: HTTPS
              path: /healthz
              port: 8443
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              scheme: HTTPS
              path: /readyz
              port: 8443
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 500m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 32Mi
          volumeMounts:
            - name: file-manager-config
              mountPath: /etc/file-manager
              readOnly: true
      serviceAccountName: file-manager
      terminationGracePeriodSeconds: 10
      volumes:
        - name: file-manager-config
          configMap:
            name: file-manager-config
