# Copyright 2025 Deutsche Telekom IT GmbH
#
# SPDX-License-Identifier: Apache-2.0

namespace: controlplane-system

resources:
  - namespace.yaml
  - issuer.yaml
  - ../../file-manager/config/default
  - ../../secret-manager/config/default
  - ../../identity/config/default
  - ../../gateway/config/default
  - ../../approval/config/default
  - ../../rover/config/default
  - ../../application/config/default
  - ../../organization/config/default
  - ../../api/config/default
  - ../../admin/config/default
  - ../../rover-server/config/default
  - ../../notification/config/default

configMapGenerator:
  - name: secret-manager-config
    behavior: replace
    files:
      - config.yaml=secret-manager-config.yaml
    options:
      disableNameSuffixHash: true
  - name: secret-manager-env
    behavior: merge
    options:
      disableNameSuffixHash: true
    literals: []

  - name: file-manager-config
    behavior: replace
    files:
      - config.yaml=file-manager-config.yaml
    options:
      disableNameSuffixHash: true

  - name: file-manager-env
    behavior: merge
    options:
      disableNameSuffixHash: true
    literals: [ ]

  - name: rover-server-env
    behavior: merge
    options:
      disableNameSuffixHash: true
    literals:
      - LOG_LEVEL=info
      - SECURITY_TRUSTEDISSUERS=""
      - SECURITY_LMS_BASEPATH=""

patches:
  - target:
      kind: Deployment
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/imagePullPolicy
        value: IfNotPresent

images:
  - name: ghcr.io/telekom/controlplane/approval
    newName: ghcr.io/telekom/controlplane/approval
    newTag: latest
  - name: ghcr.io/telekom/controlplane/gateway
    newName: ghcr.io/telekom/controlplane/gateway
    newTag: latest
  - name: ghcr.io/telekom/controlplane/identity
    newName: ghcr.io/telekom/controlplane/identity
    newTag: latest
  - name: ghcr.io/telekom/controlplane/secret-manager
    newName: ghcr.io/telekom/controlplane/secret-manager
    newTag: latest
  - name: ghcr.io/telekom/controlplane/file-manager
    newName: ghcr.io/telekom/controlplane/file-manager
    newTag: latest
  - name: ghcr.io/telekom/controlplane/rover
    newName: ghcr.io/telekom/controlplane/rover
    newTag: latest
  - name: ghcr.io/telekom/controlplane/application
    newName: ghcr.io/telekom/controlplane/application
    newTag: latest
  - name: ghcr.io/telekom/controlplane/api
    newName: ghcr.io/telekom/controlplane/api
    newTag: latest
  - name: ghcr.io/telekom/controlplane/organization
    newName: ghcr.io/telekom/controlplane/organization
    newTag: latest
  - name: ghcr.io/telekom/controlplane/admin
    newName: ghcr.io/telekom/controlplane/admin
    newTag: latest
  - name: ghcr.io/telekom/controlplane/rover-server
    newName: ghcr.io/telekom/controlplane/rover-server
    newTag: latest