# Copyright 2025 Deutsche Telekom IT GmbH
#
# SPDX-License-Identifier: Apache-2.0

openapi: 3.0.3
info:
  title: Common Schemas
  description: >
    # Shared schemas, parameters, headers, responses and security schemes used
    by the Application, Stargate and Event APIs.


    ## Convention


    ### ResourceId or *Id

    This is a unique identifier for a resource, which is generated by the system
    when the resource is created. 

    It is human-readable and often used in API paths to identify a specific
    resource.

    Example: `eni--hyperion--echo-app` for an application,
    `eni--hyperion--de-telekom-eni-quickstart-v1` for an EventType.

    Format: `{hub|group}--{team}--{resourceName}` for resources that are scoped
    to a team, `{resourceName}` for global resources.


    ### ResourceName or *Name

    This is a name for a resource, which is provided by the user when creating
    the resource. It is human-readable and often used in the request body when
    creating or updating a resource.

    It is not necessarily unique across the system, but must be unique within
    the scope of the resource (e.g., within a team for team-scoped resources).

    Example: `echo-app` for an application, `de-telekom-eni-quickstart-v1` for
    an EventType.
  version: 2.0.0
servers:
  - url: 'https://api.telekom.de/application/v2'
security:
  - OAuth2:
      - 'tardis:admin:all'
tags:
  - name: Application
    description: Manage applications
  - name: ApiExposure
    description: |
      With an ApiExposure you can define and API you want to expose on TARDIS,
      to provide it to other consumers. It is only possible to expose the entire
      API. It is not possible to expose a single resource. Therefore, every
      exposure needs the API Base Path which you can find in the Open API
      Specification File of your API and the upstream URL.
  - name: ApiSubscription
    description: |
      After an API is successful subscribed, you are able to use the API. It is
      only possible to subscribe to the entire API. It is not possible to
      subscribe only to a single resource
  - name: EventType
    description: |
      An EventType is a registry entry representing a known event type. It
      serves as the canonical reference that both EventExposures and
      EventSubscriptions point to. EventTypes are identified by a dot-separated
      identifier (e.g. "de.telekom.eni.quickstart.v1").
  - name: EventExposure
    description: |
      With an EventExposure you declare that your application publishes events
      of a specific type. This makes the events available for subscription by
      other applications. Each exposure is scoped to a zone and can define
      visibility, approval strategy, and publisher-side scopes with filtering.
  - name: EventSubscription
    description: |
      An EventSubscription declares that your application wants to receive
      events of a specific type. You can configure the delivery mechanism
      (callback or server-sent events), payload format, and subscriber-side
      filtering criteria.
paths:
  /applications:
    get:
      tags:
        - Application
      summary: Find all Applications
      description: Find all Applications
      operationId: getAllApplications
      parameters:
        - $ref: '#/components/parameters/Icto'
        - $ref: '#/components/parameters/Apid'
        - $ref: '#/components/parameters/Psiid'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/XTotalCount'
            X-Result-Count:
              $ref: '#/components/headers/XResultCount'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:user:obfuscated'
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read'
            - 'tardis:user:obfuscated'
    post:
      deprecated: true
      tags:
        - Application
      summary: Create an Application
      operationId: createApplication
      description: >-
        Creating and updating resources is asynchronous, which is why the status
        is given as an answer to a POST/PUT request, since it is possible that
        the resource to be created has not yet been processed at the time the
        response is created. If the status after creation is in state
        "Processing", the resource must be queried with GET to see whether it
        was created successfully or whether errors/warnings are written in the
        status. If the creation/update is incorrect, the processing status will
        be set to blocked. Otherwise to "failed". Status 201 means, that we
        accepted the request and there are no syntactic or semantic errors, but
        there can occur failures in the after processing. That will be shown in
        the status if you request the appropriate resource.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationCreateRequest'
      responses:
        '202':
          description: ACCEPTED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:hub:all'
            - 'tardis:team:all'
            - 'tardis:user:all'
  '/applications/{applicationId}':
    get:
      tags:
        - Application
      summary: Find an existing Application
      description: Find an existing Application
      operationId: getApplication
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:user:obfuscated'
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read'
            - 'tardis:user:obfuscated'
    put:
      deprecated: true
      tags:
        - Application
      summary: Update an existing Application
      description: >-
        Creating and updating resources is asynchronous, which is why the status
        is given as an answer to a POST/PUT request, since it is possible that
        the resource to be created has not yet been processed at the time the
        response is created. If the status after creation is in state
        "Processing", the resource must be queried with GET to see whether it
        was created successfully or whether errors/warnings are written in the
        status. If the creation/update is incorrect, the processing status will
        be set to blocked. Otherwise to "failed". Status 201 means, that we
        accepted the request and there are no syntactic or semantic errors, but
        there can occur failures in the after processing. That will be shown in
        the status if you request the appropriate resource.
      operationId: updateApplication
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationUpdateRequest'
      responses:
        '202':
          description: ACCEPTED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:hub:all'
            - 'tardis:team:all'
            - 'tardis:user:all'
    delete:
      deprecated: true
      tags:
        - Application
      summary: Delete an Application
      description: Delete an application - all ApiSubscriptions are deleted as well
      operationId: deleteApplication
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
      responses:
        '204':
          description: DELETED
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:hub:all'
            - 'tardis:team:all'
            - 'tardis:user:all'
  '/applications/{applicationId}/status':
    get:
      tags:
        - Application
      summary: Find an existing Application and return its status
      description: Find an existing Application and return its status
      operationId: getApplicationStatus
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read'
            - 'tardis:user:obfuscated'
  '/applications/{applicationId}/apiexposures':
    get:
      tags:
        - ApiExposure
      summary: Find all ApiExposures
      description: Find all ApiExposures of this application
      operationId: getAllApiExposures
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/XTotalCount'
            X-Result-Count:
              $ref: '#/components/headers/XResultCount'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExposureListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read'
            - 'tardis:user:obfuscated'
    post:
      deprecated: true
      tags:
        - ApiExposure
      summary: Create an ApiExposures
      description: |
        Creating and updating resources is asynchronous, which is why the status
        is given as an answer to a POST/PUT request, since it is possible that
        the resource to be created has not yet been processed at the time the
        response is created. If the status after creation is in state
        "Processing", the resource must be queried with GET to see whether it
        was created successfully or whether errors/warnings are written in the
        status. If the creation/update is incorrect, the processing status will
        be set to blocked. Otherwise to "failed". Status 201 means, that we
        accepted the request and there are no syntactic or semantic errors, but
        there can occur failures in the after processing. That will be shown in
        the status if you request the appropriate resource.
      operationId: createApiExposure
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiExposureCreateRequest'
      responses:
        '202':
          description: ACCEPTED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExposureResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:hub:all'
            - 'tardis:team:all'
            - 'tardis:user:all'
  '/applications/{applicationId}/apiexposures/{apiExposureName}':
    get:
      tags:
        - ApiExposure
      summary: Find an existing ApiExposure
      description: Find an existing ApiExposure
      operationId: getApiExposure
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
        - name: apiExposureName
          description: The name of the ApiExposure
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExposureResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read'
            - 'tardis:user:obfuscated'
    put:
      deprecated: true
      tags:
        - ApiExposure
      summary: Update an existing ApiExposure
      description: |
        Creating and updating resources is asynchronous, which is why the status
        is given as an answer to a POST/PUT request, since it is possible that
        the resource to be created has not yet been processed at the time the
        response is created. If the status after creation is in state
        "Processing", the resource must be queried with GET to see whether it
        was created successfully or whether errors/warnings are written in the
        status. If the creation/update is incorrect, the processing status will
        be set to blocked. Otherwise to "failed". Status 201 means, that we
        accepted the request and there are no syntactic or semantic errors, but
        there can occur failures in the after processing. That will be shown in
        the status if you request the appropriate resource.
      operationId: updateApiExposure
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
        - name: apiExposureName
          in: path
          description: The name of the ApiExposure
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiExposureUpdateRequest'
      responses:
        '202':
          description: ACCEPTED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiExposureResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:hub:all'
            - 'tardis:team:all'
            - 'tardis:user:all'
    delete:
      deprecated: true
      tags:
        - ApiExposure
      summary: Delete an ApiExposure
      description: Delete an ApiExposure
      operationId: deleteApiExposure
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
        - name: apiExposureName
          in: path
          description: The name of the ApiExposure
          required: true
          schema:
            type: string
      responses:
        '204':
          description: DELETED
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:hub:all'
            - 'tardis:team:all'
            - 'tardis:user:all'
  '/applications/{applicationId}/apiexposures/{apiExposureName}/status':
    get:
      tags:
        - ApiExposure
      summary: Find an existing ApiExposure and return its status
      description: Find an existing ApiExposure and return its status
      operationId: getApiExposureStatus
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
        - name: apiExposureName
          description: The name of the ApiExposure
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read'
            - 'tardis:user:obfuscated'
  '/applications/{applicationId}/apisubscriptions':
    get:
      tags:
        - ApiSubscription
      summary: Find all ApiSubscriptions
      description: Find all ApiSubscriptions of this application
      operationId: getAllApiSubscriptions
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/XTotalCount'
            X-Result-Count:
              $ref: '#/components/headers/XResultCount'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSubscriptionListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read'
            - 'tardis:user:obfuscated'
    post:
      deprecated: true
      tags:
        - ApiSubscription
      summary: Create an ApiSubscription
      description: |
        Creating and updating resources is asynchronous, which is why the status
        is given as an answer to a POST/PUT request, since it is possible that
        the resource to be created has not yet been processed at the time the
        response is created. If the status after creation is in state
        "Processing", the resource must be queried with GET to see whether it
        was created successfully or whether errors/warnings are written in the
        status. If the creation/update is incorrect, the processing status will
        be set to blocked. Otherwise to "failed". Status 201 means, that we
        accepted the request and there are no syntactic or semantic errors, but
        there can occur failures in the after processing. That will be shown in
        the status if you request the appropriate resource.
      operationId: createApiSubscription
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiSubscriptionCreateRequest'
      responses:
        '202':
          description: ACCEPTED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:hub:all'
            - 'tardis:team:all'
            - 'tardis:user:all'
  '/applications/{applicationId}/apisubscriptions/{apiSubscriptionName}':
    get:
      tags:
        - ApiSubscription
      summary: Find an existing ApiSubscription
      description: Find an existing ApiSubscription
      operationId: getApiSubscription
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
        - name: apiSubscriptionName
          description: The name of the ApiSubscription
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read'
            - 'tardis:user:obfuscated'
    put:
      deprecated: true
      tags:
        - ApiSubscription
      summary: Update an existing ApiSubscription
      description: |
        Creating and updating resources is asynchronous, which is why the status
        is given as an answer to a POST/PUT request, since it is possible that
        the resource to be created has not yet been processed at the time the
        response is created. If the status after creation is in state
        "Processing", the resource must be queried with GET to see whether it
        was created successfully or whether errors/warnings are written in the
        status. If the creation/update is incorrect, the processing status will
        be set to blocked. Otherwise to "failed". Status 201 means, that we
        accepted the request and there are no syntactic or semantic errors, but
        there can occur failures in the after processing. That will be shown in
        the status if you request the appropriate resource.
      operationId: updateApiSubscription
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
        - name: apiSubscriptionName
          in: path
          description: The name of the ApiSubscription
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiSubscriptionUpdateRequest'
      responses:
        '200':
          description: UPDATE
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:hub:all'
            - 'tardis:team:all'
            - 'tardis:user:all'
    delete:
      deprecated: true
      tags:
        - ApiSubscription
      summary: Delete an ApiSubscription
      description: Delete an ApiSubscription
      operationId: deleteApiSubscription
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
        - name: apiSubscriptionName
          in: path
          description: The name of the ApiSubscription
          required: true
          schema:
            type: string
      responses:
        '204':
          description: DELETED
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:hub:all'
            - 'tardis:team:all'
            - 'tardis:user:all'
  '/applications/{applicationId}/apisubscriptions/{apiSubscriptionName}/status':
    get:
      tags:
        - ApiSubscription
      summary: Find an existing ApiSubscription and return its status
      description: Find an existing ApiSubscription and return its status
      operationId: getApiSubscriptionStatus
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
        - name: apiSubscriptionName
          description: The name of the ApiSubscription
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read'
            - 'tardis:user:obfuscated'
  '/applications/{applicationId}/apiexposures/{apiExposureName}/apisubscriptions':
    get:
      tags:
        - ApiExposure
      summary: Find all ApiSubscriptions of this ApiExposure
      description: Find all ApiSubscriptions of this ApiExposure
      operationId: getAllExposureApiSubscriptions
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
        - name: apiExposureName
          description: The name of the ApiExposure
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSubscriptionListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read'
            - 'tardis:user:obfuscated'
  /eventtypes:
    get:
      tags:
        - EventType
      summary: Find all EventTypes
      description: >
        Find all registered EventTypes without any restrictions. 

        This operation is global and not scoped to a specific application or
        team.
      operationId: getAllEventTypes
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/XTotalCount'
            X-Result-Count:
              $ref: '#/components/headers/XResultCount'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read - tardis:user:obfuscated'
  '/eventtypes/{eventTypeId}':
    get:
      tags:
        - EventType
      summary: Find an existing EventType
      description: Find an existing EventType by its complete identifier
      operationId: getEventType
      parameters:
        - name: eventTypeId
          description: >
            The complete identifier of the EventType (e.g.
            "de-telekom-eni-quickstart-v1--1-0-0")
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read'
            - 'tardis:user:obfuscated'
  '/eventtypes/{eventTypeId}/status':
    get:
      tags:
        - EventType
      summary: Find an existing EventType and return its status
      description: Find an existing EventType and return its status
      operationId: getEventTypeStatus
      parameters:
        - name: eventTypeId
          description: >
            The complete identifier of the EventType (e.g.
            "de-telekom-eni-quickstart-v1--1-0-0")
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read'
            - 'tardis:user:obfuscated'
  '/eventtypes/{eventTypeName}/active':
    get:
      tags:
        - EventType
      summary: Find the active EventType for a given name
      description: >
        Returns the currently active EventType for the given resource name. This
        operation is global and not scoped to a specific application or team.
      operationId: getActiveEventType
      parameters:
        - name: eventTypeName
          description: >
            The resource name of the EventType (dot-separated identifier
            converted to hyphens, e.g. "de-telekom-eni-quickstart-v1")
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTypeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read'
            - 'tardis:user:obfuscated'
  '/applications/{applicationId}/eventexposures':
    get:
      tags:
        - EventExposure
      summary: Find all EventExposures
      description: Find all EventExposures of this application
      operationId: getAllEventExposures
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/XTotalCount'
            X-Result-Count:
              $ref: '#/components/headers/XResultCount'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventExposureListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read - tardis:user:obfuscated'
  '/applications/{applicationId}/eventexposures/{eventExposureName}':
    get:
      tags:
        - EventExposure
      summary: Find an existing EventExposure
      description: Find an existing EventExposure
      operationId: getEventExposure
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
        - name: eventExposureName
          description: The name of the EventExposure
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventExposureResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read - tardis:user:obfuscated'
  '/applications/{applicationId}/eventexposures/{eventExposureName}/status':
    get:
      tags:
        - EventExposure
      summary: Find an existing EventExposure and return its status
      description: Find an existing EventExposure and return its status
      operationId: getEventExposureStatus
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
        - name: eventExposureName
          description: The name of the EventExposure
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read'
            - 'tardis:user:obfuscated'
  '/applications/{applicationId}/eventexposures/{eventExposureName}/eventsubscriptions':
    get:
      tags:
        - EventExposure
      summary: Find all EventSubscriptions of this EventExposure
      description: Find all EventSubscriptions that subscribe to this EventExposure
      operationId: getAllExposureEventSubscriptions
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
        - name: eventExposureName
          description: The name of the EventExposure
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read'
            - 'tardis:user:obfuscated'
  '/applications/{applicationId}/eventsubscriptions':
    get:
      tags:
        - EventSubscription
      summary: Find all EventSubscriptions
      description: Find all EventSubscriptions of this application
      operationId: getAllEventSubscriptions
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          headers:
            X-Total-Count:
              $ref: '#/components/headers/XTotalCount'
            X-Result-Count:
              $ref: '#/components/headers/XResultCount'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read - tardis:user:obfuscated'
  '/applications/{applicationId}/eventsubscriptions/{eventSubscriptionName}':
    get:
      tags:
        - EventSubscription
      summary: Find an existing EventSubscription
      description: Find an existing EventSubscription
      operationId: getEventSubscription
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
        - name: eventSubscriptionName
          description: The name of the EventSubscription
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read - tardis:user:obfuscated'
  '/applications/{applicationId}/eventsubscriptions/{eventSubscriptionName}/status':
    get:
      tags:
        - EventSubscription
      summary: Find an existing EventSubscription and return its status
      description: Find an existing EventSubscription and return its status
      operationId: getEventSubscriptionStatus
      parameters:
        - $ref: '#/components/parameters/ApplicationId'
        - name: eventSubscriptionName
          description: The name of the EventSubscription
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - OAuth2:
            - 'tardis:admin:all'
            - 'tardis:admin:read'
            - 'tardis:admin:obfuscated'
            - 'tardis:supervisor:read'
            - 'tardis:hub:all'
            - 'tardis:hub:read'
            - 'tardis:hub:obfuscated'
            - 'tardis:team:all'
            - 'tardis:team:read'
            - 'tardis:team:obfuscated'
            - 'tardis:user:all'
            - 'tardis:user:read'
            - 'tardis:user:obfuscated'
components:
  schemas:
    Error:
      description: RFC-7807 conform object sent on any error
      type: object
      required:
        - type
        - title
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: number
        detail:
          type: string
        instance:
          type: string
        errorCode:
          type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldProblem'
    FieldProblem:
      type: object
      required:
        - title
      properties:
        title:
          type: string
        detail:
          type: string
        path:
          type: string
    Paging:
      description: Pagination information
      type: object
      properties:
        total:
          description: total number of result objects matching the search parameters
          type: integer
          minimum: 0
        page:
          description: 'number of the current page, based on the requested limit value'
          type: integer
          minimum: 1
        last_page:
          description: 'number of the last page, based on the requested limit value'
          type: integer
          minimum: 1
      required:
        - total
        - page
        - last_page
    Links:
      description: HATEOAS links for pagination
      type: object
      required:
        - first
        - self
        - last
      properties:
        first:
          type: string
          format: uri
          description: the URI of the first page for requested pagination
        self:
          type: string
          format: uri
          description: the URI for the current page for requested pagination
        last:
          type: string
          format: uri
          description: >-
            the URI for the last page for requested pagination, based on the
            requested limit value
        prev:
          type: string
          format: uri
          description: >-
            the URI for the previous page for requested pagination, based on the
            requested limit value
        next:
          type: string
          format: uri
          description: >-
            the URI for the next page for requested pagination, based on the
            requested limit value
    StateInfo:
      type: object
      properties:
        message:
          type: string
        cause:
          type: string
    Status:
      type: object
      readOnly: true
      properties:
        state:
          $ref: '#/components/schemas/State'
        processingState:
          $ref: '#/components/schemas/ProcessingState'
        time:
          type: string
        errors:
          type: array
          items:
            $ref: '#/components/schemas/StateInfo'
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/StateInfo'
        infos:
          type: array
          items:
            $ref: '#/components/schemas/StateInfo'
    State:
      enum:
        - none
        - invalid
        - blocked
        - complete
      type: string
      description: Current state of this resource
      example: complete
    ProcessingState:
      enum:
        - none
        - pending
        - processing
        - failed
        - done
      type: string
      description: Current processing state of this resource
      example: pending
    StatusTimestamps:
      type: object
      properties:
        createdAt:
          description: Timestamp when this resource was created.
          type: string
          format: date-time
        processedAt:
          description: Timestamp when this resource was last processed.
          type: string
          format: date-time
    Problem:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ResourceRef'
        context:
          type: string
        message:
          type: string
        cause:
          type: string
        details:
          type: string
    ResourceRef:
      type: object
      readOnly: true
      properties:
        apiVersion:
          type: string
        kind:
          type: string
        name:
          type: string
        namespace:
          type: string
        path:
          type: string
    TeamRef:
      type: object
      readOnly: true
      required:
        - hub
        - name
      properties:
        hub:
          type: string
          description: 'allowed characters: [a-z],[0-9],[-]'
          pattern: '[a-z0-9-]+'
          example: eni
        name:
          type: string
          description: 'allowed characters: [a-z],[0-9],[-]'
          pattern: '[a-z0-9-]+'
          example: hyperion
        email:
          type: string
          readOnly: true
          description: contact email address of the team
          format: email
    ApplicationRef:
      type: object
      readOnly: true
      required:
        - name
      properties:
        name:
          type: string
          example: echo-app
        icto:
          type: string
          example: icto-12345
    ResourceStatusResponse:
      description: >-
        Response resource which contains information about the status of the
        resource and all its relevant sub-resources
      readOnly: true
      required:
        - state
        - processingState
        - overallStatus
      type: object
      allOf:
        - $ref: '#/components/schemas/StatusTimestamps'
        - properties:
            state:
              $ref: '#/components/schemas/State'
            processingState:
              $ref: '#/components/schemas/ProcessingState'
            overallStatus:
              description: Status of this resource and all its relevant sub-resources
              type: string
              example: blocked
            errors:
              description: List of errors that resulted while processing this resource
              type: array
              items:
                $ref: '#/components/schemas/Problem'
            warnings:
              description: List of warnings that resulted while processing this resource
              type: array
              items:
                $ref: '#/components/schemas/Problem'
            infos:
              description: List of infos that resulted while processing this resource
              type: array
              items:
                $ref: '#/components/schemas/Problem'
    Application:
      type: object
      properties:
        id:
          type: string
          example: hub42--team2--myapp
          readOnly: true
        name:
          description: 'allowed characters: [a-z],[0-9],[-]'
          type: string
          pattern: '[a-z0-9-]+'
          example: myapp
        team:
          $ref: '#/components/schemas/Team'
        zone:
          type: string
          example: aws
        icto:
          type: string
          pattern: 'icto-[0-9]{5}'
          example: icto-12345
        apid:
          type: string
          pattern: '^AP-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}$'
          example: AP-12AB-34AB-56AB
        psiid:
          type: string
          description: >-
            PSI identifier (pattern configurable via PSIID_PATTERN env var,
            default ^PSI-[0-9]{6}$)
          example: PSI-123456
        status:
          $ref: '#/components/schemas/Status'
        security:
          $ref: '#/components/schemas/Security'
    ApplicationCreateRequest:
      required:
        - hub
        - team
        - name
        - zone
      type: object
      allOf:
        - $ref: '#/components/schemas/Application'
    ApplicationUpdateRequest:
      required:
        - team
        - zone
      type: object
      properties:
        team:
          $ref: '#/components/schemas/Team'
        zone:
          type: string
          example: aws
        icto:
          type: string
          pattern: 'icto-[0-9]{5}'
          example: icto-12345
        apid:
          type: string
          pattern: '^AP-[0-9A-F]{4}-[0-9A-F]{4}-[0-9A-F]{4}$'
          example: AP-12AB-34AB-56AB
        psiid:
          type: string
          description: >-
            PSI identifier (pattern configurable via PSIID_PATTERN env var,
            default ^PSI-[0-9]{6}$)
          example: PSI-123456
    ApplicationResponse:
      type: object
      readOnly: true
      required:
        - id
        - hub
        - team
        - name
        - zone
      allOf:
        - $ref: '#/components/schemas/Application'
    ApplicationListResponse:
      type: object
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        _links:
          $ref: '#/components/schemas/Links'
        items:
          type: array
          items:
            $ref: '#/components/schemas/ApplicationResponse'
    Team:
      type: object
      required:
        - hub
        - name
        - email
        - category
      description: >-
        Team is a group of people who are responsible for the application. The
        team is used for notifications and access control.
      properties:
        hub:
          type: string
          description: 'allowed characters: [a-z],[0-9],[-]'
          pattern: '[a-z0-9-]+'
          example: eni
        name:
          type: string
          description: 'allowed characters: [a-z],[0-9],[-]'
          pattern: '[a-z0-9-]+'
          example: hyperion
        email:
          type: string
          readOnly: true
          description: contact email address of the team
          format: email
        category:
          type: string
          readOnly: true
          example: CUSTOMER
    Security:
      type: object
      required:
        - ipRestrictions
      description: >-
        Contains information related to security configuration like IP
        restrictions etc.
      properties:
        ipRestrictions:
          $ref: '#/components/schemas/IpRestrictions'
    IpRestrictions:
      type: object
      description: >-
        A list of allowed IP addresses that will be used to consume APIs this
        application is subscribed to.  The IP addresses need to be in a valid
        CIDR notation. For example 125.5.89.20 or 160.77.58.30/16.
      properties:
        allow:
          type: array
          items:
            type: string
    ApiExposure:
      type: object
      properties:
        basePath:
          type: string
          pattern: '^\/[a-zA-Z0-9\/-]*$'
        upstream:
          type: string
          format: uri
        variant:
          type: string
          description: >
            Defines the type of API exposure and determines which gateway

            the route should be provisioned on.

            Supported values:

            - null or 'DEFAULT': Regular API exposure on Stargate gateway
            (backward compatible)

            - 'MCP': MCP exposure provisioned on aiGateway

            - 'TELECONTEXTMCP': MCP exposure on aiGateway with automatic
            Telecontext integration
          enum:
            - DEFAULT
            - MCP
            - TELECONTEXTMCP
          example: DEFAULT
        approval:
          $ref: '#/components/schemas/ApprovalStrategy'
        rateLimit:
          $ref: '#/components/schemas/RateLimit'
        visibility:
          $ref: '#/components/schemas/Visibility'
        security:
          $ref: '#/components/schemas/SubscriberSecurity'
        failover:
          $ref: '#/components/schemas/ExposureFailover'
        loadBalancing:
          $ref: '#/components/schemas/LoadBalancing'
        trustedTeams:
          type: array
          items:
            $ref: '#/components/schemas/TeamRef'
        removeHeaders:
          type: array
          items:
            type: string
    ApiExposureCreateRequest:
      type: object
      required:
        - basePath
        - upstream
        - visibility
      allOf:
        - $ref: '#/components/schemas/ApiExposure'
    ApiExposureListResponse:
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        _links:
          $ref: '#/components/schemas/Links'
        items:
          type: array
          items:
            $ref: '#/components/schemas/ApiExposureResponse'
    ApiExposureResponse:
      type: object
      readOnly: true
      required:
        - name
        - zone
        - basePath
        - upstream
        - visibility
      allOf:
        - $ref: '#/components/schemas/ApiExposure'
        - properties:
            name:
              type: string
              readOnly: true
              example: eni-heartbeat-v1
            zone:
              type: string
              readOnly: true
            status:
              $ref: '#/components/schemas/Status'
    ApiExposureUpdateRequest:
      type: object
      required:
        - upstream
        - basePath
        - approval
        - visibility
      allOf:
        - $ref: '#/components/schemas/ApiExposure'
    ApiSubscription:
      type: object
      properties:
        basePath:
          description: 'Must match pattern ^\/[a-zA-Z0-9\/-]*$'
          type: string
          example: /my-hub/my-app/v1
          pattern: '^\/[a-zA-Z0-9\/-]*$'
        security:
          $ref: '#/components/schemas/SubscriberSecurity'
    ApiSubscriptionCreateRequest:
      required:
        - basePath
      type: object
      allOf:
        - $ref: '#/components/schemas/ApiSubscription'
    ApiSubscriptionListResponse:
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        _links:
          $ref: '#/components/schemas/Links'
        items:
          type: array
          items:
            $ref: '#/components/schemas/ApiSubscriptionResponse'
    ApiSubscriptionResponse:
      type: object
      readOnly: true
      allOf:
        - $ref: '#/components/schemas/ApiSubscription'
        - properties:
            name:
              type: string
              readOnly: true
              example: eni-echo-v1
            zone:
              type: string
              readOnly: true
            gatewayUrl:
              type: string
              readOnly: true
              example: 'https://stargate-playground.live.dhei.telekom.de/eni/echo/v1'
            status:
              $ref: '#/components/schemas/Status'
            application:
              $ref: '#/components/schemas/ApplicationRef'
            team:
              $ref: '#/components/schemas/TeamRef'
            approval:
              $ref: '#/components/schemas/Approval'
            failover:
              $ref: '#/components/schemas/SubscriptionFailover'
    ApiSubscriptionUpdateRequest:
      required:
        - basePath
      type: object
      allOf:
        - $ref: '#/components/schemas/ApiSubscription'
    Approval:
      type: object
      readOnly: true
      required:
        - status
        - comment
      properties:
        status:
          type: string
          example: granted
        comment:
          type: string
          example: trusted team
        decider:
          type: string
          example: hyperion@telekom.de
        timestamp:
          type: string
          format: date-time
          example: '2022-09-28T16:05:46.384Z'
    ApprovalStrategy:
      enum:
        - AUTO
        - SIMPLE
        - FOUREYES
      type: string
    OAuth2:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - oauth2
        tokenEndpoint:
          type: string
        clientId:
          type: string
        clientSecret:
          type: string
        scopes:
          type: array
          items:
            type: string
        username:
          type: string
        password:
          type: string
        refreshToken:
          type: string
        grantType:
          type: string
        tokenRequest:
          type: string
          enum:
            - body
            - header
          description: >-
            Specifies if the authentication data should be sent to the external
            IDP via headers or in the body of the request
    BasicAuth:
      type: object
      required:
        - type
        - username
        - password
      properties:
        type:
          type: string
          enum:
            - basicAuth
        username:
          type: string
        password:
          type: string
    RateLimit:
      type: object
      properties:
        second:
          format: int32
          type: integer
        minute:
          format: int32
          type: integer
        hour:
          format: int32
          type: integer
        faultTolerant:
          type: boolean
        hideClientHeaders:
          type: boolean
    SubscriberSecurity:
      discriminator:
        propertyName: type
        mapping:
          oauth2: '#/components/schemas/OAuth2'
          basicAuth: '#/components/schemas/BasicAuth'
      oneOf:
        - $ref: '#/components/schemas/OAuth2'
        - $ref: '#/components/schemas/BasicAuth'
    Visibility:
      enum:
        - ENTERPRISE
        - WORLD
        - ZONE
      type: string
    SubscriptionFailover:
      type: array
      readOnly: true
      items:
        type: object
        properties:
          zone:
            type: string
            readOnly: true
            example: aws
          gatewayUrl:
            type: string
            readOnly: true
            example: 'https://stargate-playground.live.dhei.telekom.de/eni/echo/v1'
    ExposureFailover:
      type: object
      properties:
        zone:
          type: string
          example: aws
    LoadBalancing:
      type: object
      readOnly: true
      properties:
        servers:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/Server'
    Server:
      type: object
      readOnly: true
      properties:
        upstream:
          type: string
          readOnly: true
        weight:
          type: integer
          readOnly: true
    EventVisibility:
      enum:
        - World
        - Zone
        - Enterprise
      type: string
      description: |
        Defines who can see and subscribe to an exposed event.
        Maps to EventExposureSpec.Visibility in the EventExposure CR.
    EventApprovalStrategy:
      enum:
        - Auto
        - Simple
        - FourEyes
      type: string
      description: |
        Defines the approval mode for event subscriptions.
        Maps to EventExposureSpec.Approval.Strategy in the EventExposure CR.
    DeliveryType:
      enum:
        - Callback
        - ServerSentEvent
      type: string
      description: |
        Defines how events are delivered to subscribers.
        Maps to EventSubscriptionSpec.Delivery.Type in the EventSubscription CR.
    PayloadType:
      enum:
        - Data
        - DataRef
      type: string
      description: >
        Defines the event payload format.

        Maps to EventSubscriptionSpec.Delivery.Payload in the EventSubscription
        CR.
    ResponseFilterMode:
      enum:
        - Include
        - Exclude
      type: string
      description: >-
        Controls whether the response filter includes or excludes the specified
        fields.
    EventApproval:
      type: object
      description: |
        Configures how subscriptions to this event are approved.
        Maps to EventExposureSpec.Approval in the EventExposure CR.
      properties:
        strategy:
          $ref: '#/components/schemas/EventApprovalStrategy'
          description: Defines the approval mode. Defaults to Auto.
        trustedTeams:
          type: array
          description: >
            Teams that are trusted for auto-approval of subscriptions. By
            default your own team is trusted.
          items:
            type: string
          maxItems: 10
          example:
            - eni--hyperion
    ResponseFilter:
      type: object
      description: Controls which fields are included or excluded from the event payload.
      properties:
        paths:
          type: array
          description: JSON paths to include or exclude from the event payload.
          items:
            type: string
          example:
            - $.data.orderId
            - $.data.status
        mode:
          $ref: '#/components/schemas/ResponseFilterMode'
    SelectionFilter:
      type: object
      description: Defines criteria for selecting which events are delivered.
      properties:
        attributes:
          type: object
          description: >
            Simple key-value equality matches on CloudEvents attributes. All
            entries are AND-ed together.
          additionalProperties:
            type: string
          example:
            source: de.telekom.eni.quickstart
            type: de.telekom.eni.quickstart.v1
        expression:
          type: object
          description: >
            Arbitrary JSON filter expression tree using logical operators (and,
            or) and comparisons (eq, ge, gt, le, lt, ne). Passed through to the
            configuration backend without structural validation.
          additionalProperties: true
    EventTrigger:
      type: object
      description: |
        Defines filtering criteria for event delivery.
        Maps to EventTrigger in the EventExposure/EventSubscription CR.
      properties:
        responseFilter:
          $ref: '#/components/schemas/ResponseFilter'
        selectionFilter:
          $ref: '#/components/schemas/SelectionFilter'
    EventScope:
      type: object
      description: |
        A named scope with publisher-side trigger filtering.
        Scopes allow publishers to partition their events and apply filters.
        Maps to EventExposureSpec.Scopes[] in the EventExposure CR.
      required:
        - name
        - trigger
      properties:
        name:
          type: string
          description: Unique identifier for this scope.
          minLength: 1
          example: high-priority
        trigger:
          $ref: '#/components/schemas/EventTrigger'
    Delivery:
      type: object
      description: |
        Configures how events are delivered to the subscriber.
        Maps to EventSubscriptionSpec.Delivery in the EventSubscription CR.
      required:
        - type
      properties:
        type:
          $ref: '#/components/schemas/DeliveryType'
        payload:
          $ref: '#/components/schemas/PayloadType'
        callback:
          type: string
          format: uri
          description: >
            URL where events are delivered. Required when type is "Callback",
            must not be set for "ServerSentEvent".
          example: 'https://myapp.example.com/events/callback'
        eventRetentionTime:
          type: string
          description: How long events are retained for this subscriber.
          example: 7d
        circuitBreakerOptOut:
          type: boolean
          description: Disables the circuit breaker for this subscription.
          default: false
        retryableStatusCodes:
          type: array
          description: HTTP status codes that should trigger a retry.
          items:
            type: integer
          example:
            - 502
            - 503
            - 504
        redeliveriesPerSecond:
          type: integer
          description: Limits the rate of event redeliveries.
          example: 10
        enforceGetHttpRequestMethodForHealthCheck:
          type: boolean
          description: Forces GET for health check probes instead of HEAD.
          default: false
    EventSubscriptionApproval:
      type: object
      readOnly: true
      description: Approval status of the event subscription.
      properties:
        status:
          type: string
          example: granted
        comment:
          type: string
          example: trusted team
        decider:
          type: string
          example: hyperion@telekom.de
        timestamp:
          type: string
          format: date-time
          example: '2022-09-28T16:05:46.384Z'
    EventType:
      type: object
      description: |
        Registry entry for a known event type. Serves as the canonical reference
        that both EventExposure and EventSubscription point to.
        Maps to EventTypeSpec in the EventType CR.
      properties:
        type:
          type: string
          description: >
            Dot-separated event type identifier (e.g.
            "de.telekom.eni.quickstart.v1"). The last segment must be a version
            prefix matching the major version.
          pattern: '^[a-z0-9]+(\.[a-z0-9]+)*$'
          minLength: 1
          maxLength: 253
          example: de.telekom.eni.quickstart.v1
        version:
          type: string
          description: >
            Version of the event type specification (e.g. "1.0.0"). The major
            version must match the version suffix in the type field.
          pattern: ^\d+.*$
          example: 1.0.0
        description:
          type: string
          description: Human-readable summary of this event type.
          example: Quickstart events for the ENI platform
        specification:
          type: string
          description: >
            File ID reference from the file manager for the optional JSON schema
            that describes the event payload.
    EventTypeResponse:
      type: object
      readOnly: true
      required:
        - name
        - type
        - version
      allOf:
        - $ref: '#/components/schemas/EventType'
        - properties:
            id:
              type: string
              readOnly: true
              description: |
                The complete resource identifier of the EventType
              example: eni--hyperion--de-telekom-eni-quickstart-v1
            name:
              type: string
              readOnly: true
              description: >
                Resource name (dot-to-hyphen conversion of type, e.g.
                "de-telekom-eni-quickstart-v1").
              example: de-telekom-eni-quickstart-v1
            active:
              type: boolean
              readOnly: true
              description: >
                Whether this EventType is the active singleton for its type
                string. When multiple EventTypes exist for the same type, only
                the oldest non-deleted one is active.
            status:
              $ref: '#/components/schemas/Status'
    EventTypeListResponse:
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        _links:
          $ref: '#/components/schemas/Links'
        items:
          type: array
          items:
            $ref: '#/components/schemas/EventTypeResponse'
    EventExposure:
      type: object
      description: |
        Declaration that an application publishes events of a specific type.
        Maps to EventExposureSpec in the EventExposure CR.
      properties:
        eventType:
          type: string
          description: >
            Dot-separated event type identifier (e.g.
            "de.telekom.eni.quickstart.v1"). References the EventType CR.
          minLength: 1
          example: de.telekom.eni.quickstart.v1
        visibility:
          $ref: '#/components/schemas/EventVisibility'
        approval:
          $ref: '#/components/schemas/EventApproval'
        scopes:
          type: array
          description: >
            Named scopes with optional publisher-side trigger filtering. Maps to
            EventExposureSpec.Scopes in the EventExposure CR.
          items:
            $ref: '#/components/schemas/EventScope'
        additionalPublisherIds:
          type: array
          description: >
            Additional application IDs allowed to publish to the same event
            type. Maps to EventExposureSpec.AdditionalPublisherIds in the
            EventExposure CR.
          items:
            type: string
          example:
            - hub42--team2--secondary-publisher
    EventExposureResponse:
      type: object
      readOnly: true
      required:
        - name
        - zone
        - eventType
        - visibility
      allOf:
        - $ref: '#/components/schemas/EventExposure'
        - properties:
            name:
              type: string
              readOnly: true
              example: de-telekom-eni-quickstart-v1
            zone:
              type: string
              readOnly: true
              description: >
                The zone where this event is exposed. Maps to
                EventExposureSpec.Zone in the EventExposure CR.
            active:
              type: boolean
              readOnly: true
              description: >
                Whether this exposure is the active one for its event type. Maps
                to EventExposureStatus.Active.
            sseUrls:
              type: object
              readOnly: true
              description: >
                Maps zone names to SSE endpoint URLs for this exposure. Maps to
                EventExposureStatus.SseURLs.
              additionalProperties:
                type: string
              example:
                aws: >-
                  https://stargate-playground.live.dhei.telekom.de/sse/eni/quickstart/v1
            callbackURL:
              type: string
              readOnly: true
              description: >
                URL of the callback gateway in the provider zone. Maps to
                EventExposureStatus.CallbackURL.
              example: >-
                https://stargate-playground.live.dhei.telekom.de/callback/eni/quickstart/v1
            status:
              $ref: '#/components/schemas/Status'
            application:
              $ref: '#/components/schemas/ApplicationRef'
            team:
              $ref: '#/components/schemas/TeamRef'
    EventExposureListResponse:
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        _links:
          $ref: '#/components/schemas/Links'
        items:
          type: array
          items:
            $ref: '#/components/schemas/EventExposureResponse'
    EventSubscription:
      type: object
      description: |
        Declaration that an application subscribes to events of a specific type.
        Maps to EventSubscriptionSpec in the EventSubscription CR.
      properties:
        eventType:
          type: string
          description: >
            Dot-separated event type identifier (e.g.
            "de.telekom.eni.quickstart.v1"). References the EventType CR.
          minLength: 1
          example: de.telekom.eni.quickstart.v1
        delivery:
          $ref: '#/components/schemas/Delivery'
        trigger:
          $ref: '#/components/schemas/EventTrigger'
        scopes:
          type: array
          description: >
            Selects which publisher-defined scopes to subscribe to. Must match
            scope names defined on the corresponding EventExposure. Maps to
            EventSubscriptionSpec.Scopes in the EventSubscription CR.
          items:
            type: string
          example:
            - high-priority
    EventSubscriptionResponse:
      type: object
      readOnly: true
      allOf:
        - $ref: '#/components/schemas/EventSubscription'
        - properties:
            name:
              type: string
              readOnly: true
              example: de-telekom-eni-quickstart-v1
            zone:
              type: string
              readOnly: true
              description: >
                The zone where this subscription is placed. Maps to
                EventSubscriptionSpec.Zone in the EventSubscription CR.
            url:
              type: string
              readOnly: true
              description: >
                SSE endpoint URL for this subscription. Set when delivery type
                is ServerSentEvent. Maps to EventSubscriptionStatus.URL.
              example: >-
                https://stargate-playground.live.dhei.telekom.de/sse/eni/quickstart/v1
            subscriptionId:
              type: string
              readOnly: true
              description: >
                Unique identifier of the subscriber. Set when delivery type is
                ServerSentEvent. Maps to EventSubscriptionStatus.SubscriptionId.
            status:
              $ref: '#/components/schemas/Status'
            application:
              $ref: '#/components/schemas/ApplicationRef'
            team:
              $ref: '#/components/schemas/TeamRef'
            approval:
              $ref: '#/components/schemas/EventSubscriptionApproval'
    EventSubscriptionListResponse:
      properties:
        paging:
          $ref: '#/components/schemas/Paging'
        _links:
          $ref: '#/components/schemas/Links'
        items:
          type: array
          items:
            $ref: '#/components/schemas/EventSubscriptionResponse'
  responses:
    BadRequest:
      description: BAD_REQUEST
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: UNAUTHORIZED
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: FORBIDDEN
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: NOT_FOUND
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    UnsupportedMediaType:
      description: UNSUPPORTED_MEDIATYPE
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: SERVER_ERROR
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    Offset:
      name: offset
      in: query
      description: 0-based number of the first returned object in the found list
      required: false
      schema:
        type: integer
        format: int32
        minimum: 0
        default: 0
    Limit:
      name: limit
      description: >-
        page size requested by the consumer; must not be larger than the maximal
        page size
      in: query
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 20
        default: 20
    Sort:
      name: sort
      in: query
      description: list of fields to be used for sorting. Default is name
      required: false
      schema:
        type: string
        enum:
          - name
    ApplicationId:
      name: applicationId
      in: path
      description: Unique resource id of this application
      required: true
      schema:
        type: string
    Icto:
      name: icto
      in: query
      description: Filter by icto
      required: false
      schema:
        type: string
    Apid:
      name: apid
      in: query
      description: Filter by apid
      required: false
      schema:
        type: string
    Psiid:
      name: psiid
      in: query
      description: Filter by psiid (pattern configurable via PSIID_PATTERN env var)
      required: false
      schema:
        type: string
  headers:
    XTotalCount:
      description: Total number of items matching criteria.
      schema:
        type: integer
        minimum: 0
    XResultCount:
      description: Actual number of items returned in the response body for this page.
      schema:
        type: integer
        minimum: 0
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth2 client_credentials flow
      flows:
        clientCredentials:
          tokenUrl: 'https://example.com/auth/realms/realm/protocol/openid-connect/token'
          scopes:
            'tardis:admin:all': Admin access to all resources
            'tardis:admin:read': Admin read access to all resources
            'tardis:admin:obfuscated': Admin obfuscated access to all resources
            'tardis:supervisor:read': (deprecated) Admin obfuscated access to all resources
            'tardis:hub:all': Access to all resources of a hub
            'tardis:hub:read': Read access to all resources of a hub
            'tardis:hub:obfuscated': Obfuscated access to all resources of a hub
            'tardis:team:all': Access to all resources of a team
            'tardis:team:read': Read access to all resources of a team
            'tardis:team:obfuscated': Obfuscated access to all resources of a team
            'tardis:user:all': (deprecated) Access to all resources of a team
            'tardis:user:read': (deprecated) Read access to all resources of a team
            'tardis:user:obfuscated': (deprecated) Obfuscated access to all resources of a team
