# Copyright 2025 Deutsche Telekom IT GmbH
#
# SPDX-License-Identifier: Apache-2.0

name: Build Docs

on:
  pull_request:
    paths:
      - 'docs/**'
      - '.github/workflows/docs-build.yml'
      - '.github/workflows/docs-deploy.yml'

jobs:
  build:
    name: Build Docusaurus
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: docs/pages/package-lock.json

      - name: Install dependencies
        run: cd docs/pages && npm ci
      - name: Build website
        run: cd docs/pages && npm run build